* {
  margin: 0px;
  padding: 0px;
  font-family: 'Didact Gothic';
}

body {
  background-color: #333944;
}

.title-bar {
  width: 100%;
  height: 100%;
  background-color: #333944;
  text-align: center;
  color: #dbdbdb;
  font-size: 20px;
  outline: 2px solid #22262d;
}


.h1-box {
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  cursor: default;
}

.info-button-box {
  width: 25px;
  cursor: pointer;
  display: none;
}

.info-button {
  height: 25px;
  width: 25px;
}

.excerpt {
  width: 300px;
  height: 60px;
  outline: 3px solid #22262d;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.excerpt-img-first {
  width: 300px;
  height: 60px;
  opacity: 1;
}

.excerpt-img {
  width: 300px;
  height: 60px;
  opacity: 0;
}

.input-block {
  text-align: center;
}

input {
  width: 295px;
  height: 30px;
  border: 3px solid #22262d;
  font-size: 20px;
  padding-left: 5px;
}

input:focus, textarea:focus {
    outline: none;
}

.custom-placeholder::placeholder {
  color: #666666;
}

.button-block {
  text-align: center;
  margin-top: 15px;
}

.guess-button {
  width: 300px;
  height: 30px;
  font-size: 20px;
  color: #22262d;
  background-color: #dbdbdb;
  border-radius: 8px;
  border-color: #22262d;
/*   border-style: solid; */
}

#piece-name {
  display: none;
  color: #dbdbdb;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.top-container {
  width: 100vw;
  height: 0px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: default;
  display: none;
  animation: none;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.popup-container {
  position: absolute;
  transform: translate(50vw,10vw);
}

h3 {
  transform: translate(102px);
  width: 100px;
}

#name-p {
  font-style: italic;
}

.share-button {
  width: 305px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
/*   border-style: solid; */
}

#has-copied {
  color: #aaaaaa;
  display: none;
}

.popup-content {
  width: 305px;
  height: 400px;
  opacity: 1;
  background-color: #22262d;
  color: #FFFFFF;
  position: absolute;
  transform: translate(-50%);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}